<div class="d-flex justify-content-between p-3" id="cabecera">

    <div>
        <img src="assets/img/logo.png" width="30" height="30" alt="" loading="lazy">
    </div>
    <div class="textos-header">
        <button title="Cambiar Liga" *ngIf="futbol.getDatosUser('logeado') == 'true'" type="button" id="ligahead" class="btn btn-secondary" routerLink="seleccionar-liga"> LIGA: {{futbol.getDatosUser("ligaNom")}}</button>
    </div>
    <div class="textos-header">
        <button title="Cerrar Sesión" *ngIf="futbol.getDatosUser('logeado') == 'true'" type="button" class="btn btn-primary" (click)="futbol.cerrarSesion()"><i class="fas fa-user"></i> {{futbol.getDatosUser("nombreRD")}}</button>
    </div>

</div>