<h1 class="texto-centrado">Seleccionar Liga</h1>
<div class="panelSesion">
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" [(ngModel)]="ligaSelect">
        <option [value]="liga.league.id" *ngFor="let liga of ligas">{{liga.league.name}}</option>
      </select>
    <button id="enviarIS" type="button" class="btn btn-primary" (click)="seleccionarLiga()">Enviar</button>
</div>