<h1>Jugadores <button (click)="cerrar()" type="button" class="btn btn-primary"><i class="fas fa-window-close"></i> Cerrar</button></h1>
<div class="form-inline" id="buscador2"><span id="buscador2">Buscador</span>&nbsp;&nbsp;<input type="text" class="form-control" [(ngModel)]='filtrarJugadores'></div>
<ul class="list-group" id="listaJugadores">
    <li class="list-group-item" *ngFor="let jugador of jugadores | filterPipe: filtrarJugadores; let indexOfelement = index;" [ngClass]="{'list-group-item-primary': indexOfelement%2==0, 'list-group-item-info': indexOfelement%2!=0}">{{jugador.player.name}} {{jugador.player.firstname}} {{jugador.player.lastname}}</li>
</ul>