<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="home/listado-equipos">Equipos <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item item-2">
                <a class="nav-link" routerLink="eventos">Eventos</a>
            </li>
        </ul>
    </div>
</nav>