<div class="d-flex justify-content-between p-2">
    <div class="paginaDividida">
        <h1 [ngClass]="{'texto-centrado': ocultarJugadores}">Equipos</h1>
        <div class="form-inline"><span id="buscador">Buscador</span>&nbsp;&nbsp;<input type="text" class="form-control" [(ngModel)]='filtrarEquipos'></div>
        <div class="puntero" [ngClass]="{'card-columns': ocultarJugadores}">
            <div class="card tarjeta" [ngClass]="{'tarjetaComp': !ocultarJugadores, 'tarjetaSelect': equipo.team_id == idEquipoSelect}" *ngFor="let equipo of listadoEquipos | filterPipe: filtrarEquipos" (click)="traerJugadores(equipo.team_id)">
                <img [src]="equipo.logo" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{equipo.name}}</h5>
                </div>
            </div>
        </div>
    </div>
    <app-jugadores class="jugadores paginaDividida" *ngIf="!ocultarJugadores" (propagar)="cerrarJugadores($event)" [jugadores]="jugadoresEquipo"></app-jugadores>
</div>