/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Lobster');

/* comun */

.puntero {
    cursor: pointer;
}

.texto-centrado {
    text-align: center;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-bottom: 200px;
}

#cabecera {
    background-color: #a8c7dd;
    width: 100%;
}

#cabecera img {
    width: 110px;
    height: 60px;
}

.textos-header {
    margin-top: 20px;
}

nav {
    background-color: #e3f2fd;
}

.item-2 {
    margin-left: 50px;
}

.main-container {
    margin-top: 20px;
}

h1 {
    margin-top: 104px;
    margin-bottom: 58px;
}

.card {
    background-color: #a8c7dd;
    width: 8rem;
    margin-top: 60px;
    margin-bottom: 60px;
}

.tarjeta:hover {
    background-color: #e3f2fd;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #e3f2fd;
    text-align: center;
}

footer>span {
    font-family: 'Lobster', cursive;
    font-size: 1.5em;
}


/* Head */

#ligahead {
    margin-left: 118px;
}


/* Iniciar Sesión */

.panelSesion {
    background-color: #f0f1f3;
    padding: 5em;
    margin-top: 7em;
    margin-left: 14em;
    margin-right: 14em;
}

#enviarIS {
    margin-top: 39px;
}

.alerta {
    margin-top: 2em;
    margin-left: 14em;
    margin-right: 14em;
}


/* Equipos */

#buscador {
    font-size: 20px;
}

.tarjetaComp {
    width: 28em;
}

.tarjetaSelect {
    background-color: rgb(122, 166, 223)!important;
}


/* Jugadores */

.jugadores {
    width: 32em;
}

#listaJugadores {
    margin-top: 3.2em;
}


/* Eventos */

.tarjetaEvento {
    width: 26em;
    display: inline-flex;
    margin-top: 4em;
    margin-left: 5.7em;
}