<h1 class="texto-centrado">Iniciar Sesión</h1>
<!-- mail: carlos@mail.com  pass: renaido -->
<div class="panelSesion">
    <div class="form-group">
        <label for="exampleInputEmail1">Correo Electronico</label>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-envelope"></i></div>
            </div>
            <input type="email" class="form-control" id="inlineFormInputGroupUsername2" [(ngModel)]='correo'>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Contraseña</label>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-lock"></i></div>
            </div>
            <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]='pass'>
        </div>
    </div>
    <button id="enviarIS" type="button" class="btn btn-primary" (click)="iniciaSesion()">Enviar</button>
</div>
<div class="alert alert-danger alerta" role="alert" *ngIf="error">
    El correo o la contraseña son erróneas.
</div>