<h1 class="texto-centrado">Eventos</h1>
<div class="form-inline"><span id="buscador">Buscador</span>&nbsp;&nbsp;<input type="text" class="form-control" [(ngModel)]='filtrarEventos'></div>
<div class="tarjetaEvento card card-columns text-white {{clases[evento.clase]}} mb-3" *ngFor="let evento of listadoEventos| filterPipe: filtrarEventos; let indexOfelement = index;">
    <div class="card-header">Equipo: {{evento.teamName}}</div>
    <div class="card-body">
        <h5 class="card-title">Jugador: {{evento.player}}</h5>
        <p class="card-text">{{evento.detail}}</p>
    </div>
</div>